<div class="container-fluid showDiv">

  <div class="row-fluid">
    <div class="row-fluid">
      <div class="col-lg-12">
        <div class="item">
          <div class="content">
            {{oneMovie.Title}}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="content">
            <img ng-src="{{oneMovie.Poster}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="content">
            <p>Starring: {{oneMovie.Actors}}</p>
            <p>{{oneMovie.Plot}}</p>

            <h3>Additional Details</h3>
            <div>
              <p>Awards</p>
              <p>{{oneMovie.Awards}}</p>
            </div>
            <div>
              <p>Country</p>
              <p>{{oneMovie.Country}}</p>
            </div>
            <div>
              <p>Director</p>
              <p>{{oneMovie.Director}}</p>
            </div>
            <div>
              <p>Genre</p>
              <p>{{oneMovie.Genre}}</p>
            </div>
            <div>
              <p>Languages</p>
              <p>{{oneMovie.Language}}</p>
            </div>
            <div>
              <p>Metascore</p>
              <p>{{oneMovie.Metascore}}</p>
            </div>
            <div>
              <p>Rated</p>
              <p>{{oneMovie.Rated}}</p>
            </div>
            <div>
              <p>Released</p>
              <p>{{oneMovie.Released}}</p>
            </div>
            <div>
              <p>Runtime</p>
              <p>{{oneMovie.Runtime}}</p>
            </div>
            <div>
              <p>Title</p>
              <p>{{oneMovie.Title}}</p>
            </div>
            <div>
              <p>Writer</p>
              <p>{{oneMovie.Writer}}</p>
            </div>
            <div>
              <p>Year</p>
              <p>{{oneMovie.Year}}</p>
            </div>
            <div>
              <p>imdbRating</p>
              <p>{{oneMovie.imdbRating}}</p>
            </div>
            <div>
              <p>imdbVotes</p>
              <p>{{oneMovie.imdbVotes}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
